@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, body > div {
  /* height: 100%; */
}

body {
  /* font-family: 'Poppins', sans-serif; */
  /* background-color: #909090; */
  color: black;
}

.ant-btn-link span, a {
  text-decoration: none;
  color: #038d77;
}

span:hover, a:hover{
  color: #6f6f6f ;
}


.ant-tabs-tab:not(.ant-tabs-tab-active) {
  background-color: #6f6f6f6f !important;
}
